{% load app_filters %}
<table id="networksTable" class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Created</th>
            <th>Driver</th>
            <th>Containers</th>
            <th>docker.compose.network</th>
            <th>docker.compose.project</th>
        </tr>
    </thead>
    <tbody>
        {% for network in networks %}
        <tr>
            <td>{{ network.name }}</td>
            <td>{{ network.short_id }}</td>
            <td>{{ network.attrs.Created }}</td>
            <td>
                {% if network.attrs.Driver == "bridge" %}
                <span class="text-success">{{ network.attrs.Driver }}</span>
                {% elif network.attrs.Driver == "overlay" %}
                <span class="text-warning">{{ network.attrs.Driver }}</span>
                {% else %}
                <span class="text-secondary">{{ network.attrs.Driver }}</span>
                {% endif %}
            </td>
            <td>
                <ul>
                    {% for container_id, container in network.containers.items %}
                    <li>{{ container.name }} (ID: {{ container_id }})</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                {% if network.attrs.Labels|dict_get:"com.docker.compose.network" %}
                {{ network.attrs.Labels|dict_get:"com.docker.compose.network" }}
                {% else %}
                N/A
                {% endif %}
            </td>
            <td>
                {% if network.attrs.Labels|dict_get:'com.docker.compose.project' %}
                {{ network.attrs.Labels|dict_get:'com.docker.compose.project' }}
                {% else %}
                N/A
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No networks found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p class="text-end text-muted">Last updated: {% now "Y-m-d H:i:s" %}</p>
